body{
    text-align: center;
    background-color: #f4f4f4a5;
}



#num1{
    background: #fbfbfb;    
    border-color: #000000;
    text-align: center;
}

#num2{
    background: #fbfbfb;
    border-color: #000000;
    text-align: center;
}

#resp{
    background: #fbfbfb;   
    border-color: #000000;
    text-align: center;
    
    

}

button {
    background-color: #ebd8ec;
    height: 50px;
	width: 90px;
    border-radius: 20%;
    font-size: 15px;
    text-align:inherit;
    

    

}
